@use "./variables";

header {
    .HeaderDiv {
        img {
        display: block;
        width: 100%;
        }
    }

    #countdown_timer {
        text-align: center;
        font-size: 3rem;
        color: variables.$color-blue;
        font-family: variables.$text_font1;
        font-weight: 900;
    }
}
