@use "./variables";

header {
    .HeaderDiv {
        img {
        display: block;
        width: 100%;
        }
    }

    #countdown_timer {
        text-align: center;
        font-size: 30px;
    }
}
