@use "./variables";

.home {
    display: none;
}



#introduction {
    width: 60%;
    color: variables.$white;
    margin-left: 8rem;
    h1 {
        font-size: 100px;
        color: variables.$color-blue;
        font-family: variables.$text_font2;
    }

    p {
        display: block;
        margin-top: 4rem;
        font-size: 20px;
        line-height: 40px;
        font-weight: 200;
        font-family: variables.$text_font1;
    }
}
