$white: #ffffff;
$black: #000000;
$sky-blue: #D6EDFF;
$darker-sky-blue: #C1E2F6;
$darker-darker-sky-blue: #ACD7EC;
$color-blue: #1335a9;


// FONTS
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



$text_font1: 'Noto Serif JP', serif;
$text_font2: 'Abril Fatface', serif;

