@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
body {
  background-image: url("/comic-website/Images/background-image.png");
  background-size: cover;
}

header .HeaderDiv img {
  display: block;
  width: 100%;
}
header #countdown_timer {
  text-align: center;
  font-size: 3rem;
  color: #1335a9;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}

.home {
  display: none;
}

#introduction {
  width: 60%;
  color: #ffffff;
  margin-left: 8rem;
}
#introduction h1 {
  font-size: 100px;
  color: #1335a9;
  font-family: "Abril Fatface", serif;
}
#introduction p {
  display: block;
  margin-top: 4rem;
  font-size: 20px;
  line-height: 40px;
  font-weight: 200;
  font-family: "Noto Serif JP", serif;
}

.topnav {
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  padding-top: 120px;
  z-index: 98;
  transition: 0.4s;
}
.topnav ul {
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}
.topnav ul a {
  color: #1335a9;
  float: left;
  font-size: 50px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s ease;
  padding: 3rem;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}
.topnav ul a:hover {
  color: #ffffff;
}

.topnav.is-active {
  right: 0;
}

.hamburger {
  position: fixed;
  display: block;
  box-sizing: border-box;
  width: 80px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 99;
  background-color: #000000;
  padding-bottom: 100%;
  padding-top: 2rem;
  outline-color: #ffffff;
  outline-style: solid;
  outline-width: 1px;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

/*
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: blue;
  padding-top:120px ;

  a {
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    width: fit-content;
    padding: 12px 16px;
    background-color: palegreen;
  }

}
*/
footer {
  color: #2b2b2b;
  text-align: center;
  padding: 10rem;
  font-family: "Noto Serif JP", serif;
}

.no_story_chapters {
  color: #ffffff;
  font-family: "Noto Serif JP", serif;
  font-weight: 200;
  outline-style: solid;
  display: block;
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 1rem;
  font-style: italic;
  cursor: pointer;
}

.no_draft_chapters {
  color: #ffffff;
  font-family: "Noto Serif JP", serif;
  font-weight: 200;
  outline-style: solid;
  display: block;
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 1rem;
  font-style: italic;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */