@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  background-image: url("./../Images/background-image.png");
  background-size: cover;
  overflow: scroll;
}

header .HeaderDiv img {
  display: block;
  width: 100%;
}
header #countdown_timer {
  text-align: center;
  font-size: 3rem;
  color: #1335a9;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}

.home {
  display: none;
}

#introduction {
  width: 60%;
  color: #ffffff;
  margin-left: 8rem;
}
#introduction h1 {
  font-size: 100px;
  color: #1335a9;
  font-family: "Abril Fatface", serif;
}
#introduction p {
  display: block;
  margin-top: 4rem;
  font-size: 20px;
  line-height: 40px;
  font-weight: 200;
  font-family: "Noto Serif JP", serif;
}

.topnav {
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  padding-top: 120px;
  z-index: 98;
  transition: 0.4s;
}
.topnav ul {
  margin: auto;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
  max-height: 100vh;
}
.topnav ul a {
  color: #1335a9;
  float: left;
  font-size: 50px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.5s ease;
  padding: 3rem;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
}
.topnav ul a:hover {
  color: #ffffff;
}

.topnav.is-active {
  right: 0;
}

.hamburger {
  position: fixed;
  display: block;
  box-sizing: border-box;
  width: 80px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 99;
  background-color: #000000;
  padding-bottom: 100%;
  padding-top: 2rem;
  outline-color: #ffffff;
  outline-style: solid;
  outline-width: 1px;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

/*
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: blue;
  padding-top:120px ;

  a {
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    width: fit-content;
    padding: 12px 16px;
    background-color: palegreen;
  }

}
*/
footer {
  color: #2b2b2b;
  text-align: center;
  padding: 10rem;
  font-family: "Noto Serif JP", serif;
}

.no_story_chapters {
  color: #ffffff;
  font-family: "Noto Serif JP", serif;
  font-weight: 200;
  outline-style: solid;
  display: block;
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 1rem;
  font-style: italic;
  cursor: pointer;
}

.no_draft_chapters {
  color: #ffffff;
  font-family: "Noto Serif JP", serif;
  font-weight: 200;
  outline-style: solid;
  display: block;
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 1rem;
  font-style: italic;
  cursor: pointer;
}

.char-showcase-window {
  display: none;
  margin: auto;
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
}
.char-showcase-window p {
  color: #ffffff;
}

.close_window {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  padding: 1rem;
  width: -moz-min-content;
  width: min-content;
  cursor: pointer;
  z-index: 99;
  position: absolute;
  right: 30px;
  top: 30px;
  font-family: "Ubuntu", serif;
  font-size: 40px;
  border: 100%;
  border-color: #ffffff;
  padding: 0px 10px 0px 10px;
  background-color: #000000;
  color: #ffffff;
}

.window_background_close {
  content: "";
  display: block;
  box-sizing: border-box;
  background-color: lightgrey;
  width: 13%;
  height: 100%;
  z-index: 99;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;
}

.characters {
  color: #ffffff;
  margin-left: 8rem;
  list-style-type: none;
  z-index: 4;
  font-family: "Noto Serif JP", serif;
}
.characters ul, .characters li {
  list-style-type: none;
}
.characters img {
  width: 178px;
  height: 224px;
}
.characters .stand_users ul, .characters .sword_users ul, .characters .sorcerers ul, .characters .humans ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 178px;
  height: 224px;
}
.characters .stand_users li:hover img, .characters .sword_users li:hover img, .characters .sorcerers li:hover img, .characters .humans li:hover img {
  cursor: pointer;
  outline-style: solid;
  outline-color: #1335a9;
}/*# sourceMappingURL=styles.css.map */